@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
  text-align: center;
}

Body {
	font-family: 'Arial', Helvetica Neue, Helvetica, sans-serif;
	color: #777;
	background: #777;
	width: 960px;
	font-size: 18px;
}
     
Header, Nav, Section, Aside, Footer {
	background: #ebebeb;
	
}
Header {
  	padding: 20px;
  	margin-bottom: 10px;
	border-bottom: 5pt solid #777;
	height: 50px;
	
}
Nav {
 	padding: 20px;
  	margin-bottom: 10px;
	border-bottom: 5pt solid #777;
	height: 50px;
	
}
Article {
	color: #ebebeb;
	background: #777;
	border: solid 2pt #777;
	padding: 20px;
}

Section {
	float: left;
	width: 495px;
	background: #fff;
	padding: 20px;
  	margin-bottom: 20px;
}

aside {
	width: 45%;
	height: 240px;
	background: #fff;
	float: right;
  	padding: 20px;
	border: 1px solid #eee;
}

#content {
	color: #777;
	background: #fff;
  	margin-bottom: 5px;
	border: solid #fff 3pt;

}
footer{
  	padding: 20px;
  	clear: both;
}


